RewriteEngine On
RewriteBase /

# cache hit
RewriteCond %{REQUEST_URI} (b|bing|bings|g|google|googles|y|yahoo|yahoos)/([1-9][0-9]*)x([1-9][0-9]*)
RewriteCond %{DOCUMENT_ROOT}/cache/%1%2x%3.html -f
RewriteRule (b|bing|bings|g|google|googles|y|yahoo|yahoos)/([1-9][0-9]*)x([1-9][0-9]*) /cache/$1$2x$3.html [L]

# cache miss
RewriteRule (b|bing|bings|g|google|googles|y|yahoo|yahoos)/([1-9][0-9]*)x([1-9][0-9]*) /howmany.php?s=$1&x=$2&y=$3 [L]

# otherwise redirect to index page
ErrorDocument 403 http://howmanygoogles.com/
ErrorDocument 404 http://howmanygoogles.com/
ErrorDocument 500 http://howmanygoogles.com/
